<div class="classes">
  <div class="Characters">
    <h1>Class Information</h1>
    <button class="create" id="1" (click)="submit(1)">{{classList[1]}}</button>
    <button class="create" id="2" (click)="submit(2)">{{classList[2]}}</button>
    <button class="create" id="3" (click)="submit(3)">{{classList[3]}}</button>
    <button class="create" id="4" (click)="submit(4)">{{classList[4]}}</button>
    <button class="create" id="5" (click)="submit(5)">{{classList[5]}}</button>
    <button class="create" id="6" (click)="submit(6)">{{classList[6]}}</button>
    <button class="create" id="7" (click)="submit(7)">{{classList[7]}}</button>
    <button class="create" id="8" (click)="submit(8)">{{classList[8]}}</button>
    <button class="create" id="9" (click)="submit(9)">{{classList[9]}}</button>
    <button class="create" id="10" (click)="submit(10)">{{classList[10]}}</button>
  </div>
</div>
