<div class="allcharacters">
  <div class="tbl-content">
    <h1>All Characters</h1>

    <div class="search-items">
      <input *ngIf="All()"
             class="form-control"
             type="text"
             name="searchAll"
             id="searchAll"
             [(ngModel)]="searchText"
             autocomplete="off"
             placeholder="Start searching for a character by class, name, description, or level" />
      <input *ngIf="!All()"
             class="form-control"
             type="text"
             name="searchNotAll"
             id="searchNotAll"
             [(ngModel)]="searchText"
             autocomplete="off"
             placeholder="Start searching for a character by name, description, or level" />
    </div>
    <table id="tabl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td id="charValid" colspan="6" class="editValid"></td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level</th>
          <th>Class</th>
          <th>Delete Character</th>
          <th>Edit Character</th>
        </tr>
      </thead>
      <tbody *ngIf="All()">
        <tr *ngFor="let character of allChars | filter : searchText; let i = index" >
          <td id="name" contenteditable=true class="Name">{{character.Name}}</td>
          <td id="desc" contenteditable=true class="Description">{{character.Description}}</td>
          <td id="level" contenteditable=false class="Level">{{character.Level}}</td>
          <td id="class" contenteditable=false class="Class">{{character.Class}}</td>
          <td class="delete" (click)="deleteCharacter(character.Name, character.ID)">DELETE</td>
          <td class="edit" (click)="editCharacter(character, i)">EDIT</td>
        </tr>
      </tbody>

      <tbody *ngIf="!All()">
        <tr *ngFor="let character of curClassChars | filter : searchText; let i = index">
          <td id="name" contenteditable=true class="Name">{{character.Name}}</td>
          <td id="desc" contenteditable=true class="Description">{{character.Description}}</td>
          <td id="level" contenteditable=false class="Level">{{character.Level}}</td>
          <td id="class" contenteditable=false class="Class">{{character.Class}}</td>
          <td class="delete" (click)="deleteCharacter(character.Name, character.ID)">DELETE</td>
          <td class="edit" (click)="editCharacter(character, i)">EDIT</td>
        </tr>
      </tbody>
    </table>

    <div class="characters">
      <select id="charClasses" (click)="showChars()">
        <option disabled selected hidden>Select Class</option>
        <option *ngFor="let iclass of allClasses.allCharacters" class="Name" id="dropOption">{{iclass}}</option>
      </select>
    </div>
  </div>
</div>
