
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.allcharacters {
  width: 70%;
  position: fixed;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

  .allcharacters h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    text-align: center;
  }

input {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(255, 0, 0, .7);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(11,64,240, .9), 0 1px 1px rgba(255,255,255,0.8);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  color: rgba(255,255, 255,1);
  text-decoration-color: rgba(255,255, 255,1);
}

  input:hover {
    background-color: rgba(255, 0, 0, .6);
  }

  input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.05), 0 1px 1px rgba(255,255,255,0.1);
  }

table {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: rgb(255,255, 255);
  border: 0px solid rgba(255,255, 255,1.0);
  text-shadow: 0 0px 8px rgba(255, 255, 255, 1);
}

.tbl-header {
  background-color: rgba(11,64,240, .36);
  background-size: 300px;
  background-position-x: center;
  text-align: center;
}

.tbl-content {
  border-radius: 6px;
  table-layout: fixed;
  position: center;
  height: 400px;
  margin-top: 0px;
  background-color: rgba(11,64,240, .8);
  text-shadow: 0 0 10px rgba(255, 255, 255,1);
  border: 2.5px solid rgba(255,255, 255,1.0);
  overflow-y: auto;
  text-align: center;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  background-color: rgba(11,64,240, .36);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255,255, 255,1);
  text-shadow: 0 0 18px rgba(0,0, 0,1);
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-bottom: solid 1px rgba(255,255,255,1);
  border-right-color: transparent;
  overflow-x: auto;
  text-transform: uppercase;
}

.characters {
  position: absolute;
  top: -1.25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .characters select {
    background-color: rgba(11,64,240, 1);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 22px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: groove;
    border-radius: 4px;
    outline-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: rgba(0, 0, 0, 1);
    text-align: center;
  }

    .characters select:hover, .characters select option:hover {
      background-color: rgba(255, 0, 0, 1);
      text-shadow: 0 0 10px rgba(255, 255, 255, 1);
      color: rgb(255, 255, 255);
    }

      .characters select option:hover {
        padding: 30px;
      }

.characters::before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255,1);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.characters:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.characters select option {
  padding: 30px;
  background-color: rgba(11,64,240, 1);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  font-size: 25px;
}
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
.delete {
  font-size: 18px;
}

  .delete:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .delete:active {
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-weight: 800;
  }
.edit {
  font-size: 18px;
}

.edit:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

  .edit:active {
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-weight:800;
  }

.editValid {
  position: sticky;
  top: 0px;
  font-size: 25px;
  height: 65px;
  letter-spacing: 1px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(11,64,240, .8);
  text-shadow: 0 0 10px rgba(255, 255, 255,1);
  border-color: transparent;
  border-top-color: white;
}



