<div class="items">
    <div class="characters">
      <select (click)="showItems()" id="itemChars">
        <option value="Select Character" disabled selected hidden>Select Character</option>
        <option *ngFor="let character of allChars" value=character.Name class="Name" id="character">{{character.Name}} - {{character.Class}}</option>
      </select>
    </div>
    <div class="tbl-content">
      <h1>All Items</h1>
      <div class="search-items">
        <input
          class="form-control"
          type="text"
          name="search"
          id="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Start searching for an item by name, description, or level"
        />
      </div>
      <table id="charItemsTable" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th colspan="2">Name</th>
            <th>Description</th>
            <th>Level</th>
            <th>Ownership</th>
            <th>Add to Character</th>
            <th>Remove from Character</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allItems | filter : searchText; let j = index">
            <td class="Image">
              <img src="{{IDToImage(item.ID)}}" alt="{{item.Name}}" width="39" height="39">
            </td>
            <td class="Name">{{item.Name}}</td>
            <td class="Description">{{item.Description}}</td>
            <td class="Level">{{item.Level}}</td>
            <td class="Owned" *ngIf="item.Owned">Owned</td>
            <td class="Unowned" *ngIf="!item.Owned">Unowned</td>
            <td (click)="add(item.ID, j)" class="Add">Add</td>
            <td (click)="remove(item.ID, j)" class="Add">Remove</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
