<div class="password">

  <h1>Update Password</h1>

  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <!-- The user inputs password here -->
    <input type="password"
           id="password"
           placeholder="Enter New Password"
           formControlName="password"
           required />

    <!-- The user input for password is checked here -->
    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger">
      <div class="fieldMsg" *ngIf="form.controls['password'].errors?.['required']">
        Password is required.
      </div>
      <div class="fieldMsg" *ngIf="form.controls['password'].errors?.['minlength']">
        Password must be at least 8 characters long.
      </div>
    </div>

    <button class="submit" type="submit" id="submit" [disabled]="!form.valid">Submit</button>
  </form>

  <h2 class="back" routerLink="/profile">BACK</h2>
</div>
