.navbar-center {
  display: flex;
  justify-content: center;
  width:100%;
  left:-75px;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  min-width: 620px;
  margin: 0;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(11,64,240, .8);
  text-shadow: 0 0 10px rgba(255, 255, 255,1);
  border-radius: 4px;
  border: 2.5px solid rgba(255,255, 255,1.0);
  position: absolute;
  top: 12%;
  margin: auto;
}
.navbar-nav a {
  display:inline-block;
}

a {
  padding: 8px;
  display: inline;
  background-color: transparent;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

  a:hover {
    color: rgb(255, 0,0);
    text-shadow: 0px 0px 10px rgba(255,0, 0,1);
  }

  a:active {
    color: rgb(255, 120, 0);
  }


.Characters, .Admin {
  border-radius: 4px;
  border-color: transparent;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(255, 255, 255,1);
}

  .Characters:hover, .Admin:hover {
    color: rgb(255,0,0);
    text-shadow: 0 0 10px rgba(255, 0, 0,1);
    cursor: pointer;
    border-color: transparent;
    visibility: visible;
  }


  .Characters option, .Admin option {
    color: rgb(255,255, 255);
    background-color: blue;
    text-shadow: 0 0 10px rgba(0, 0, 0,1);
    cursor: pointer;
    border-color: transparent;
    visibility: visible;
  }

  .Characters:active, .Admin:active {
    cursor: pointer;
    border-color: transparent;
    box-shadow: none !important;
  }

  .Characters{

  width: 145px;
  }

  .Admin
  {
      width: 105px;
  }

.navbar-nav a:hover, select:hover, select:active, option:hover  {
    border-color: red;
    border-radius: 4px;
  background-color: white;
  color: red;
}

.navbar-nav:hover
{
    border-color: red;
}

.volume
{
    border-radius: 6px;
    border-color: white;
    position:absolute;
    top: 0%;
    left: 90%;
}
.volume:active, .volume:hover
{
    cursor: pointer;
}
