<div style="text-align:center" class="profile">
    <h1>Profile Information</h1>
    <h2>Name: {{this.Name}}</h2>
    <h2>Username: {{this.Username}}</h2>
    <h2>Email: {{this.Email}}</h2>
    <h2 class="pwd">Password: ********</h2>

    <form [formGroup]="form">
  <div class="form-group">
    <select formControlName="website" class="form-control" id="userData" (click)="submit()">
      <option hidden selected>{{this.Directions}}</option>
      <option value="Update Name">Update Name</option>
      <option value="Update Email">Update Email</option>
      <option value="Update Password">Update Password</option>
    </select>
    <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
      <div class="fieldMsg" *ngIf="f.website.errors?.['required']">Field is required.</div>
    </div>
  </div>
</form>
  </div>
